## Importing Data {-}

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
noteevents_df = pd.read_csv('../NOTEEVENTS_WITH_AGE.csv', low_memory = False)
noteevents_df

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,174,22532,167853.0,2151-08-04,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2151-7-16**] Dischar...,0
1,175,13702,107527.0,2118-06-14,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2118-6-2**] Discharg...,81
2,176,13702,167118.0,2119-05-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2119-5-4**] D...,81
3,177,13702,196489.0,2124-08-18,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2124-7-21**] ...,87
4,178,26880,135453.0,2162-03-25,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2162-3-3**] D...,82
...,...,...,...,...,...,...,...,...,...,...,...,...
2083175,2070657,31097,115637.0,2132-01-21,2132-01-21 03:27:00,2132-01-21 03:38:00,Nursing/other,Report,17581.0,NaN,NPN\n\n\n#1 Infant remains in RA with O2 sats...,0
2083176,2070658,31097,115637.0,2132-01-21,2132-01-21 09:50:00,2132-01-21 09:53:00,Nursing/other,Report,19211.0,NaN,"Neonatology\nDOL #5, CGA 36 weeks.\n\nCVR: Con...",0
2083177,2070659,31097,115637.0,2132-01-21,2132-01-21 16:42:00,2132-01-21 16:44:00,Nursing/other,Report,20104.0,NaN,Family Meeting Note\nFamily meeting held with ...,0
2083178,2070660,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:16:00,Nursing/other,Report,16023.0,NaN,NPN 1800\n\n\n#1 Resp: [**Known lastname 2243*...,0
2083179,2070661,31097,115637.0,2132-01-21,2132-01-21 18:05:00,2132-01-21 18:31:00,Nursing/other,Report,16023.0,NaN,NPN 1800\nNursing Addendum:\n[**Known lastname...,0

## Exploratory Data Analysis {-}

In [5]:
noteevents_df['HADM_ID'].nunique()

58361

## Filter Full Data by Discharge Summary {-}

In [6]:
# noteevents_filter_discharge_df = noteevents_df.loc[noteevents_df['CATEGORY'] == 'Discharge summary']
# noteevents_filter_discharge_df.head()

In [7]:
# noteevents_filter_discharge_df['CATEGORY'].nunique()

In [8]:
# noteevents_filter_discharge_df.info()

In [9]:
# noteevents_filter_discharge_df = noteevents_filter_discharge_df.drop(['CHARTTIME', 'STORETIME', 'CGID', 'ISERROR'], axis=1)
# noteevents_filter_discharge_df.info()

In [10]:
# noteevents_filter_discharge_df

## Importing DIAGNOSIS_ICD {-}

In [11]:
diagnosis_icd = pd.read_csv('DIAGNOSES_ICD.csv')
diagnosis_icd

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
0         1297         109   172335      1.0     40301
1         1298         109   172335      2.0       486
2         1299         109   172335      3.0     58281
3         1300         109   172335      4.0      5855
4         1301         109   172335      5.0      4254
...        ...         ...      ...      ...       ...
651042  639798       97503   188195      2.0     20280
651043  639799       97503   188195      3.0     V5869
651044  639800       97503   188195      4.0     V1279
651045  639801       97503   188195      5.0      5275
651046  639802       97503   188195      6.0      5569

[651047 rows x 5 columns]

In [12]:
labels = ['4019', '5849', '51881', '53081']

In [13]:
diagnosis_icd_filter = diagnosis_icd.loc[diagnosis_icd['ICD9_CODE'].isin(labels)]

In [14]:
diagnosis_icd_filter

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
35        1495         113   109976      3.0     53081
53        1513         115   114585     12.0      4019
70        1530         117   140784      8.0      4019
75        1535         117   164853      4.0      5849
89        1549         117   164853     18.0      4019
...        ...         ...      ...      ...       ...
650986  639742       97484   172304      4.0      4019
650988  639744       97484   172304      6.0     53081
650994  639750       97488   152542      6.0      4019
650996  639752       97488   152542      8.0     53081
651012  639768       97488   161999     13.0      4019

[43645 rows x 5 columns]

In [15]:
diagnosis_icd_filter_drop = diagnosis_icd_filter.sort_values('SEQ_NUM').drop_duplicates('HADM_ID', keep='first')
diagnosis_icd_filter_drop

        ROW_ID  SUBJECT_ID  HADM_ID  SEQ_NUM ICD9_CODE
255946  269651       24136   153714      1.0      5849
225792  227977       20425   174834      1.0     51881
643835  642267       98040   101463      1.0      5849
124584  108003        9644   123285      1.0     51881
225646  233364       20907   115665      1.0     51881
...        ...         ...      ...      ...       ...
489960  504720       67348   179548     32.0      4019
503399  496889       65659   133827     32.0     53081
277988  278595       24955   154989     32.0     53081
541604  549697       77282   129551     36.0      4019
465422  465900       58773   170349     39.0     53081

[32275 rows x 5 columns]

In [16]:
diagnosis_icd_filter_drop['HADM_ID'].nunique()

32275

## Merging Datasets {-}

In [17]:
print(diagnosis_icd_filter_drop.dtypes)
print('\n--------------------\n')
print(noteevents_df.dtypes)

ROW_ID          int64
SUBJECT_ID      int64
HADM_ID         int64
SEQ_NUM       float64
ICD9_CODE      object
dtype: object

--------------------

ROW_ID           int64
SUBJECT_ID       int64
HADM_ID        float64
CHARTDATE       object
CHARTTIME       object
STORETIME       object
CATEGORY        object
DESCRIPTION     object
CGID           float64
ISERROR        float64
TEXT            object
AGE              int64
dtype: object

In [18]:
diagnosis_icd_filter_drop.HADM_ID = diagnosis_icd_filter_drop.HADM_ID.astype(float)
diagnosis_icd_filter_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32275 entries, 255946 to 465422
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ROW_ID      32275 non-null  int64
 1   SUBJECT_ID  32275 non-null  int64
 2   HADM_ID     32275 non-null  float64
 3   SEQ_NUM     32275 non-null  float64
 4   ICD9_CODE   32275 non-null  object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.5+ MB

In [19]:
diagnosis_icd_filter_drop

        ROW_ID  SUBJECT_ID   HADM_ID  SEQ_NUM ICD9_CODE
255946  269651       24136  153714.0      1.0      5849
225792  227977       20425  174834.0      1.0     51881
643835  642267       98040  101463.0      1.0      5849
124584  108003        9644  123285.0      1.0     51881
225646  233364       20907  115665.0      1.0     51881
...        ...         ...       ...      ...       ...
489960  504720       67348  179548.0     32.0      4019
503399  496889       65659  133827.0     32.0     53081
277988  278595       24955  154989.0     32.0     53081
541604  549697       77282  129551.0     36.0      4019
465422  465900       58773  170349.0     39.0     53081

[32275 rows x 5 columns]

In [20]:
label_merge_text_df = diagnosis_icd_filter_drop.merge(noteevents_df, how='left', on='HADM_ID')
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,ROW_ID_y,SUBJECT_ID_y,CHARTDATE,CHARTTIME,STORETIME,CATEGORY,DESCRIPTION,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,21400.0,24136.0,2159-07-11,NaN,NaN,Discharge summary,Report,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51.0
1,269651,24136,153714.0,1.0,5849,77601.0,24136.0,2159-07-09,NaN,NaN,Echo,Report,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Congest...,0.0
2,269651,24136,153714.0,1.0,5849,186461.0,24136.0,2159-07-06,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Consider inferior myocardial inf...,0.0
3,269651,24136,153714.0,1.0,5849,186462.0,24136.0,2159-07-07,NaN,NaN,ECG,Report,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...,0.0
4,269651,24136,153714.0,1.0,5849,828883.0,24136.0,2159-07-06,2159-07-06 19:13:00,NaN,Radiology,CHEST (PA & LAT),NaN,NaN,[**2159-7-6**] 7:13 PM\n CHEST (PA & LAT) ...,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011210,465900,58773,170349.0,39.0,53081,265949.0,58773.0,2133-04-04,NaN,NaN,ECG,Report,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0.0
1011211,465900,58773,170349.0,39.0,53081,265950.0,58773.0,2133-04-03,NaN,NaN,ECG,Report,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0.0
1011212,465900,58773,170349.0,39.0,53081,265951.0,58773.0,2133-04-02,NaN,NaN,ECG,Report,NaN,NaN,Artifact is present. Regular ventricular paci...,0.0
1011213,465900,58773,170349.0,39.0,53081,265952.0,58773.0,2133-04-01,NaN,NaN,ECG,Report,NaN,NaN,Ventricular paced complexes with underlying at...,0.0
1011214,465900,58773,170349.0,39.0,53081,265953.0,58773.0,2133-04-01,NaN,NaN,ECG,Report,NaN,NaN,Atrial fibrillation with occasional ventricula...,0.0

In [21]:
label_merge_text_df['HADM_ID'].nunique()

32275

In [22]:
# label_merge_text_df = label_merge_text_df.sort_values('SEQ_NUM').drop_duplicates('HADM_ID', keep='first')
# label_merge_text_df

In [23]:
label_merge_text_df['TEXT'].isnull().sum()

224

In [24]:
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011215 entries, 0 to 1011214
Data columns (total 16 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ROW_ID_x      1011215 non-null  int64
 1   SUBJECT_ID_x  1011215 non-null  int64
 2   HADM_ID       1011215 non-null  float64
 3   SEQ_NUM       1011215 non-null  float64
 4   ICD9_CODE     1011215 non-null  object
 5   ROW_ID_y      1010991 non-null  float64
 6   SUBJECT_ID_y  1010991 non-null  float64
 7   CHARTDATE     1010991 non-null  object
 8   CHARTTIME     858179 non-null   object
 9   STORETIME     616828 non-null   object
 10  CATEGORY      1010991 non-null  object
 11  DESCRIPTION   1010991 non-null  object
 12  CGID          616828 non-null   float64
 13  ISERROR       657 non-null      float64
 14  TEXT          1010991 non-null  object
 15  AGE           1010991 non-null  float64
dtypes: float64(7), int64(2), object(7)
memory usage: 131.2+ MB

In [25]:
label_merge_text_df = label_merge_text_df.drop(['ROW_ID_y', 'SUBJECT_ID_y', 'CHARTDATE', 'DESCRIPTION'], axis=1)
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1011215 entries, 0 to 1011214
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ROW_ID_x      1011215 non-null  int64
 1   SUBJECT_ID_x  1011215 non-null  int64
 2   HADM_ID       1011215 non-null  float64
 3   SEQ_NUM       1011215 non-null  float64
 4   ICD9_CODE     1011215 non-null  object
 5   CHARTTIME     858179 non-null   object
 6   STORETIME     616828 non-null   object
 7   CATEGORY      1010991 non-null  object
 8   CGID          616828 non-null   float64
 9   ISERROR       657 non-null      float64
 10  TEXT          1010991 non-null  object
 11  AGE           1010991 non-null  float64
dtypes: float64(5), int64(2), object(5)
memory usage: 100.3+ MB

## Dropping Null Text Rows {-}

In [26]:
label_merge_text_df['TEXT'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
1011210    False
1011211    False
1011212    False
1011213    False
1011214    False
Name: TEXT, Length: 1011215, dtype: bool

In [27]:
null_columns = label_merge_text_df.columns[label_merge_text_df.isnull().any()]
print(label_merge_text_df[label_merge_text_df["TEXT"].isnull()][null_columns])

        CHARTTIME STORETIME CATEGORY  CGID  ISERROR TEXT  AGE
6608          NaN       NaN      NaN   NaN      NaN  NaN  NaN
6635          NaN       NaN      NaN   NaN      NaN  NaN  NaN
10015         NaN       NaN      NaN   NaN      NaN  NaN  NaN
16113         NaN       NaN      NaN   NaN      NaN  NaN  NaN
17778         NaN       NaN      NaN   NaN      NaN  NaN  NaN
...           ...       ...      ...   ...      ...  ...  ...
943078        NaN       NaN      NaN   NaN      NaN  NaN  NaN
966279        NaN       NaN      NaN   NaN      NaN  NaN  NaN
978028        NaN       NaN      NaN   NaN      NaN  NaN  NaN
980746        NaN       NaN      NaN   NaN      NaN  NaN  NaN
1008749       NaN       NaN      NaN   NaN      NaN  NaN  NaN

[224 rows x 7 columns]

In [28]:
print(label_merge_text_df.TEXT[50801])

nan

In [29]:
label_merge_text_df = label_merge_text_df.dropna(axis=0, subset=['TEXT'])

In [30]:
print(label_merge_text_df[label_merge_text_df['TEXT'].isnull()][null_columns])

Empty DataFrame
Columns: [CHARTTIME, STORETIME, CATEGORY, CGID, ISERROR, TEXT, AGE]
Index: []

In [31]:
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,CHARTTIME,STORETIME,CATEGORY,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51.0
1,269651,24136,153714.0,1.0,5849,NaN,NaN,Echo,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Congest...,0.0
2,269651,24136,153714.0,1.0,5849,NaN,NaN,ECG,NaN,NaN,Sinus rhythm. Consider inferior myocardial inf...,0.0
3,269651,24136,153714.0,1.0,5849,NaN,NaN,ECG,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...,0.0
4,269651,24136,153714.0,1.0,5849,2159-07-06 19:13:00,NaN,Radiology,NaN,NaN,[**2159-7-6**] 7:13 PM\n CHEST (PA & LAT) ...,51.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1011210,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0.0
1011211,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0.0
1011212,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Artifact is present. Regular ventricular paci...,0.0
1011213,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Ventricular paced complexes with underlying at...,0.0
1011214,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Atrial fibrillation with occasional ventricula...,0.0

In [32]:
label_merge_text_df['TEXT'].isnull().sum()

0

In [33]:

label_merge_text_df['AGE'] = label_merge_text_df['AGE'].astype(int)
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1010991 entries, 0 to 1011214
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ROW_ID_x      1010991 non-null  int64
 1   SUBJECT_ID_x  1010991 non-null  int64
 2   HADM_ID       1010991 non-null  float64
 3   SEQ_NUM       1010991 non-null  float64
 4   ICD9_CODE     1010991 non-null  object
 5   CHARTTIME     858179 non-null   object
 6   STORETIME     616828 non-null   object
 7   CATEGORY      1010991 non-null  object
 8   CGID          616828 non-null   float64
 9   ISERROR       657 non-null      float64
 10  TEXT          1010991 non-null  object
 11  AGE           1010991 non-null  int32
dtypes: float64(4), int32(1), int64(2), object(5)
memory usage: 96.4+ MB

In [34]:
label_merge_text_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,CHARTTIME,STORETIME,CATEGORY,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51
1,269651,24136,153714.0,1.0,5849,NaN,NaN,Echo,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Congest...,0
2,269651,24136,153714.0,1.0,5849,NaN,NaN,ECG,NaN,NaN,Sinus rhythm. Consider inferior myocardial inf...,0
3,269651,24136,153714.0,1.0,5849,NaN,NaN,ECG,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...,0
4,269651,24136,153714.0,1.0,5849,2159-07-06 19:13:00,NaN,Radiology,NaN,NaN,[**2159-7-6**] 7:13 PM\n CHEST (PA & LAT) ...,51
...,...,...,...,...,...,...,...,...,...,...,...,...
1011210,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0
1011211,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Atrial fibrillation with intermittent ventricu...,0
1011212,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Artifact is present. Regular ventricular paci...,0
1011213,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Ventricular paced complexes with underlying at...,0
1011214,465900,58773,170349.0,39.0,53081,NaN,NaN,ECG,NaN,NaN,Atrial fibrillation with occasional ventricula...,0

In [35]:
print(label_merge_text_df.columns)

Index(['ROW_ID_x', 'SUBJECT_ID_x', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE',
       'CHARTTIME', 'STORETIME', 'CATEGORY', 'CGID', 'ISERROR', 'TEXT', 'AGE'],
      dtype='object')

## Merging TEXT From Same HADM_ID {-}

In [36]:
label_merge_text_df[label_merge_text_df["HADM_ID"] == 153714.0]

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,CHARTTIME,STORETIME,CATEGORY,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714.0,1.0,5849,NaN,NaN,Discharge summary,NaN,NaN,Admission Date: [**2159-7-6**] Discharg...,51
1,269651,24136,153714.0,1.0,5849,NaN,NaN,Echo,NaN,NaN,PATIENT/TEST INFORMATION:\nIndication: Congest...,0
2,269651,24136,153714.0,1.0,5849,NaN,NaN,ECG,NaN,NaN,Sinus rhythm. Consider inferior myocardial inf...,0
3,269651,24136,153714.0,1.0,5849,NaN,NaN,ECG,NaN,NaN,Sinus rhythm. Since the previous tracing of [*...,0
4,269651,24136,153714.0,1.0,5849,2159-07-06 19:13:00,NaN,Radiology,NaN,NaN,[**2159-7-6**] 7:13 PM\n CHEST (PA & LAT) ...,51
5,269651,24136,153714.0,1.0,5849,2159-07-06 18:29:00,NaN,Radiology,NaN,NaN,[**2159-7-6**] 6:29 PM\n RENAL U.S. ...,51
6,269651,24136,153714.0,1.0,5849,2159-07-10 16:05:00,NaN,Radiology,NaN,NaN,[**2159-7-10**] 4:05 PM\n ABDOMEN U.S. (COMPLE...,51
7,269651,24136,153714.0,1.0,5849,2159-07-07 16:23:00,2159-07-07 16:37:00,Nursing/other,14266.0,NaN,"nsg progress note 7a-7p\nPt A+O X3, lethargic,...",0
8,269651,24136,153714.0,1.0,5849,2159-07-08 06:16:00,2159-07-08 06:20:00,Nursing/other,16903.0,NaN,"neuro: has rested well, is now fully awake and...",0
9,269651,24136,153714.0,1.0,5849,2159-07-07 05:56:00,2159-07-07 06:20:00,Nursing/other,21452.0,NaN,NURSING PROGRESS/ADMISSION NOTE:\nTHIS IS A 54...,0

In [37]:
label_merge_text_df.loc[6609]

ROW_ID_x                                                   218405
SUBJECT_ID_x                                                19569
HADM_ID                                                    115191
SEQ_NUM                                                         1
ICD9_CODE                                                    5849
CHARTTIME                                                     NaN
STORETIME                                                     NaN
CATEGORY                                        Discharge summary
CGID                                                          NaN
ISERROR                                                       NaN
TEXT            Admission Date:  [**2185-4-20**]              ...
AGE                                                            53
Name: 6609, dtype: object

In [38]:
multi_to_single = {} #dictionary to store unqiue HADM_ID as key and rows' items with same HADM_ID as values

In [39]:
# def convert_multiple_row_into_one(label_merge_text_df):
#     store_null_index = [] # store None Indices
    
#     for x in range(label_merge_text_df.shape[0]):        
#         try: 
#             if label_merge_text_df.HADM_ID[x] in multi_to_single:# for HADM_ID which is already stored in dictionary
                
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["ROW_ID_x"].add(label_merge_text_df.ROW_ID_x[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["SUBJECT_ID_x"].add(label_merge_text_df.SUBJECT_ID_x[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["HADM_ID"].add(label_merge_text_df.HADM_ID[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["SEQ_NUM"].add(label_merge_text_df.SEQ_NUM[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["ICD9_CODE"].add(label_merge_text_df.ICD9_CODE[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["CHARTTIME"].add(label_merge_text_df.CHARTTIME[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["STORETIME"].add(label_merge_text_df.STORETIME[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["CATEGORY"].add(label_merge_text_df.CATEGORY[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["CGID"].add(label_merge_text_df.CGID[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["ISERROR"].add(label_merge_text_df.ISERROR[x])
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["TEXT"] = multi_to_single[label_merge_text_df.HADM_ID[x]]["TEXT"] + "\n" + label_merge_text_df.TEXT[x]
#                 multi_to_single[label_merge_text_df.HADM_ID[x]]["AGE"].add(label_merge_text_df.AGE[x])   

#             else: # if HADM_ID not stored in dictionary previously

#                 multi_to_single[label_merge_text_df.HADM_ID[x]] = {"ROW_ID_x" : set([label_merge_text_df.ROW_ID_x[x]]),
#                                                                   "SUBJECT_ID_x" : set([label_merge_text_df.SUBJECT_ID_x[x]]),
#                                                                   "HADM_ID" : set([label_merge_text_df.HADM_ID[x]]),
#                                                                   "SEQ_NUM": set([label_merge_text_df.SEQ_NUM[x]]),
#                                                                   "ICD9_CODE": set([label_merge_text_df.ICD9_CODE[x]]),
#                                                                   "CHARTTIME" : set([label_merge_text_df.CHARTTIME[x]]),
#                                                                   "STORETIME": set([label_merge_text_df.STORETIME[x]]),
#                                                                   "CATEGORY": set([label_merge_text_df.CATEGORY[x]]),
#                                                                   "CGID": set([label_merge_text_df.CGID[x]]),
#                                                                   "ISERROR": set([label_merge_text_df.ISERROR[x]]),
#                                                                   "TEXT": label_merge_text_df.TEXT[x],
#                                                                   "AGE": set([label_merge_text_df.AGE[x]])}

#         except KeyError:
#             store_null_index.append(x) #if there is any missing index then append it 
#             continue
#     # name of columns         
#     cols=['ROW_ID_x', 'SUBJECT_ID_x', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE', 'CHARTTIME', 'STORETIME', 'CATEGORY', 'CGID', 'ISERROR', 'TEXT', 'AGE']
    
#     # converting dictionary values into to dataframe(df) rows for each cols
#     df = pd.DataFrame([v for k, v in multi_to_single.items()], columns=cols)
#     # converting features into integer or array
#     df.ROW_ID_x =     df.ROW_ID_x.apply(lambda x : int(list(x)[0]))
#     df.SUBJECT_ID_x = df.SUBJECT_ID_x.apply(lambda x : int(list(x)[0]))
#     df.HADM_ID =      df.HADM_ID.apply(lambda x : int(list(x)[0]))
#     df.SEQ_NUM =      df.SEQ_NUM.apply(lambda x : int(list(x)[0]))
#     df.ICD9_CODE =    df.ICD9_CODE.apply(lambda x : int(list(x)[0]))
#     df.CHARTTIME =    df.CHARTTIME.apply(lambda x: list(x))
#     df.STORETIME =    df.STORETIME.apply(lambda x: list(x))
#     df.CATEGORY =     df.CATEGORY.apply(lambda x: list(x))
#     df.CGID =         df.CGID.apply(lambda x: list(x))
#     df.ISERROR =      df.ISERROR.apply(lambda x: list(x))
#     df.AGE =          df.AGE.apply(lambda x: list(x))
    
#     return df, store_null_index

In [67]:
multi_to_single = {}
# optimized and clean function 
def convert(df_missing_HADM_ID):
    
    for index, row in df_missing_HADM_ID.iterrows():
        
        try:
            if row.HADM_ID in multi_to_single:
                multi_to_single[row.HADM_ID]["ROW_ID_x"].add(row.ROW_ID_x)
                multi_to_single[row.HADM_ID]["SUBJECT_ID_x"].add(row.SUBJECT_ID_x)
                multi_to_single[row.HADM_ID]["HADM_ID"].add(row.HADM_ID)
                multi_to_single[row.HADM_ID]["SEQ_NUM"].add(row.SEQ_NUM)
                multi_to_single[row.HADM_ID]["ICD9_CODE"].add(row.ICD9_CODE)
                multi_to_single[row.HADM_ID]["CHARTTIME"].add(row.CHARTTIME)
                multi_to_single[row.HADM_ID]["STORETIME"].add(row.STORETIME)
                multi_to_single[row.HADM_ID]["CATEGORY"].add(row.CATEGORY)
                multi_to_single[row.HADM_ID]["CGID"].add(row.CGID)
                multi_to_single[row.HADM_ID]["ISERROR"].add(row.ISERROR)
                multi_to_single[row.HADM_ID]["TEXT"] = multi_to_single[row.HADM_ID]["TEXT"] + "\n" + row.TEXT
                multi_to_single[row.HADM_ID]["AGE"].add(row.AGE)   
 
            else:

                 multi_to_single[row.HADM_ID] = { "ROW_ID_x" : set([row.ROW_ID_x]),
                                                  "SUBJECT_ID_x" : set([row.SUBJECT_ID_x]),
                                                  "HADM_ID" : set([row.HADM_ID]),
                                                  "SEQ_NUM": set([row.SEQ_NUM]),
                                                  "ICD9_CODE": set([row.ICD9_CODE]),
                                                  "CHARTTIME" : set([row.CHARTTIME]),
                                                  "STORETIME": set([row.STORETIME]),
                                                  "CATEGORY": set([row.CATEGORY]),
                                                  "CGID": set([row.CGID]),
                                                  "ISERROR": set([row.ISERROR]),
                                                  "TEXT": row.TEXT,
                                                  "AGE": set([row.AGE])
                                                }
            
        except KeyError:
            print(KeyError)
            continue
        
        
           
    # converting dictionary values into to dataframe(df) rows for each cols
        # name of columns         
    cols=['ROW_ID_x', 'SUBJECT_ID_x', 'HADM_ID', 'SEQ_NUM', 'ICD9_CODE', 'CHARTTIME', 'STORETIME', 'CATEGORY', 'CGID', 'ISERROR', 'TEXT', 'AGE']
    df = pd.DataFrame([v for k, v in multi_to_single.items()], columns=cols)
    # converting features into integer or array
    df.ROW_ID_x =     df.ROW_ID_x.apply(lambda x : int(list(x)[0]))
    df.SUBJECT_ID_x = df.SUBJECT_ID_x.apply(lambda x : int(list(x)[0]))
    df.HADM_ID =      df.HADM_ID.apply(lambda x : int(list(x)[0]))
    df.SEQ_NUM =      df.SEQ_NUM.apply(lambda x : int(list(x)[0]))
    df.ICD9_CODE =    df.ICD9_CODE.apply(lambda x : int(list(x)[0]))
    df.CHARTTIME =    df.CHARTTIME.apply(lambda x: list(x))
    df.STORETIME =    df.STORETIME.apply(lambda x: list(x))
    df.CATEGORY =     df.CATEGORY.apply(lambda x: list(x))
    df.CGID =         df.CGID.apply(lambda x: list(x))
    df.ISERROR =      df.ISERROR.apply(lambda x: list(x))
    df.AGE =          df.AGE.apply(lambda x: list(x))
    
    return df

In [41]:
df_new_small = convert(label_merge_text_df)

In [68]:
df_new_small.head()

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,SEQ_NUM,ICD9_CODE,CHARTTIME,STORETIME,CATEGORY,CGID,ISERROR,TEXT,AGE
0,269651,24136,153714,1,5849,"[nan, 2159-07-10 16:05:00, 2159-07-07 16:23:00...","[nan, 2159-07-07 06:20:00, 2159-07-08 06:20:00...","[ECG, Echo, Discharge summary, Radiology, Nurs...","[nan, nan, nan, nan, nan, nan, nan, 16903.0, 2...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",Admission Date: [**2159-7-6**] Discharg...,"[0, 51]"
1,227977,20425,174834,1,51881,"[nan, 2110-10-09 00:37:00, 2110-10-09 18:25:00...","[nan, 2110-10-25 17:53:00, 2110-10-18 15:38:00...","[ECG, Echo, Discharge summary, Radiology, Nurs...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",Admission Date: [**2110-10-8**] ...,"[56, 0, 2, 55]"
2,642267,98040,101463,1,5849,"[nan, 2156-12-22 15:00:00, 2156-12-24 16:31:00...",[nan],"[ECG, Echo, Discharge summary, Radiology]","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",Admission Date: [**2156-12-22**] ...,[0]
3,108003,9644,123285,1,51881,"[nan, 2133-02-11 22:17:00, 2133-02-12 11:42:00...","[nan, 2133-02-18 06:20:00, 2133-02-25 17:14:00...","[ECG, Discharge summary, Nursing/other, Radiol...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",Admission Date: [**2133-2-11**] ...,"[0, 70]"
4,233364,20907,115665,1,51881,"[nan, 2141-02-09 05:58:00, 2141-02-08 06:50:00...","[nan, 2141-02-08 18:33:00, 2141-02-10 04:31:00...","[ECG, Echo, Discharge summary, Radiology, Nurs...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...","[nan, nan, nan, nan, nan, nan, nan, nan, nan, ...",Admission Date: [**2141-2-8**] D...,"[0, 68, 69]"

In [69]:
label_merge_text_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1010991 entries, 0 to 1011214
Data columns (total 12 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ROW_ID_x      1010991 non-null  int64
 1   SUBJECT_ID_x  1010991 non-null  int64
 2   HADM_ID       1010991 non-null  float64
 3   SEQ_NUM       1010991 non-null  float64
 4   ICD9_CODE     1010991 non-null  object
 5   CHARTTIME     858179 non-null   object
 6   STORETIME     616828 non-null   object
 7   CATEGORY      1010991 non-null  object
 8   CGID          616828 non-null   float64
 9   ISERROR       657 non-null      float64
 10  TEXT          1010991 non-null  object
 11  AGE           1010991 non-null  int32
dtypes: float64(4), int32(1), int64(2), object(5)
memory usage: 96.4+ MB

In [71]:
df_new_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32051 entries, 0 to 32050
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ROW_ID_x      32051 non-null  int64
 1   SUBJECT_ID_x  32051 non-null  int64
 2   HADM_ID       32051 non-null  int64
 3   SEQ_NUM       32051 non-null  int64
 4   ICD9_CODE     32051 non-null  int64
 5   CHARTTIME     32051 non-null  object
 6   STORETIME     32051 non-null  object
 7   CATEGORY      32051 non-null  object
 8   CGID          32051 non-null  object
 9   ISERROR       32051 non-null  object
 10  TEXT          32051 non-null  object
 11  AGE           32051 non-null  object
dtypes: int64(5), object(7)
memory usage: 2.9+ MB

In [72]:
multi_to_single_copy =  multi_to_single

In [73]:
import pickle # to save dictionary into a .JSON file that can be converted into a dictionary in future

In [47]:
with open('dictionary_to_dataframe.pickle', 'wb') as handle:
    pickle.dump(multi_to_single, handle, protocol=pickle.HIGHEST_PROTOCOL)

# with open('filename.pickle', 'rb') as handle:
#     b = pickle.load(handle)

# print dict_loaded == dict_saved

In [74]:
len(label_merge_text_df.TEXT[1])

3004

In [75]:
len(df_new_small.TEXT[1])

117397

In [76]:
label_merge_text_df.HADM_ID[0]

153714.0

In [77]:
df_new_small.HADM_ID[0]

153714

In [78]:
print(label_merge_text_df[label_merge_text_df.HADM_ID==153714.0].TEXT[0])

Admission Date: [**2159-7-6**]        Discharge Date: [**2159-7-11**]

Date of Birth:  [**2108-5-25**]        Sex:  M

Service:  MED


The patient was a transfer from [**Hospital3 1196**] on
[**2159-7-6**].

HISTORY OF PRESENT ILLNESS:  This is a 51-year-old gentleman
who was diagnosed 2 months ago with cardiomyopathy following a
viral illness with inferior apical akinesis and an ejection
fraction estimated at 15-20 percent at [**Hospital1 2025**].  He was sent home
with stable cardiac and renal function on a new heart failure
regiment.

Two weeks prior to this admission, he began to feel unwell with
nasal congestion and fatigue.  Five days prior to admission, he
began to experience nausea, vomiting, and diarrhea without any
evidence of blood and he had a difficult time keeping any fluids
down.  He was able to keep his medications down at that time. Two
days prior to admission, he noted "feeling cloudy" and thought he
was more confused than before.  His son brought him to the
Emergency Room at [**Location (un) 745**]- [**University/College **] on the day of admission. He
had previously been started on a new regimen of medications for
his newly diagnosed viral cardiomyopathy and CHF including Coreg,
Coumadin, lasix and lisinopril, which was changed on [**2159-6-26**] to
valsartan.  When he presented to [**Hospital3 1196**], he
was found to have a BUN reported as 700 and a creatinine of 17.6.
His potassium at that time was 7.6.  He was thought to be in
acute renal failure and was given 1.5 liters of normal saline
with bicarbonate, as well as insulin, glucose, and Kayexalate for
the hyperkalemia.  He was then transferred to [**Hospital1 **] Hospital.  He reported no chest pain, no palpitations,
no abdominal pain, no melena, no numbness or tingling in his
feet, and no shortness of breath, as well as no lower extremity
edema.

PAST MEDICAL HISTORY:  Notable for a viral cardiomyopathy
diagnosed on [**2159-6-3**] with an ejection fraction of 15-20
percent.
Hyperlipidemia, controlled with Lipitor.
Borderline hypertension.
Obesity.

PAST SURGICAL HISTORY:  Notable for appendectomy at the age
of 8 and elective vasectomy.

ALLERGIES:  He has no known drug allergies.

MEDICATIONS:  At home he takes,
1. Nexium.
2. Lasix 40 mg q.d.
3. Lipitor 20 mg q.d.
4. Fragmin 10,000 units b.i.d. up until the 27th, as he was
   then transitioned to Coumadin, which he currently takes.
5. Coreg 6.25 mg b.i.d.
6. Aldactone 25 mg q.d.
7. Lisinopril 30 mg q.d. up until [**2159-6-26**] when due to cough
   he was changed to valsartan.
8. Imdur 30 mg q.d.


SOCIAL HISTORY:  He quit smoking in [**2139**] and has an
approximate 10-pack-year history.  He occasionally used to
drink alcohol though he quit 2 months ago after his diagnosis
of viral cardiomyopathy.  He has never used any IV drugs.  He
is married and lives in [**Location 13040**] with his wife and his 2
children.  He also cares for 2 children who are biologically
his wife's.  He is an insurance consultant and generally
engages in travel every week though he has been on leave for
3 months now.  His work schedule is quite demanding and
stressful.

FAMILY HISTORY:  Unavailable, as he is adopted.

PHYSICAL EXAMINATION:  On arrival to the ED, he was afebrile,
his blood pressure was 132/62, heart rate 73, breathing at a
rate of 12 respirations per minute, saturating 97 percent on
room air.  Generally, he is an obese, 51-year-old gentleman,
in no apparent distress who appears lethargic, but awake and
oriented x3.  HEENT exam:  His oropharynx was clear.  Mucous
membranes were moist.  No conjunctivae, exudates, or scleral
icterus.  Neck:  No lymphadenopathy.  No jugular venous
distention.  No carotid bruits.  Normal thyroid.
Cardiovascular:  Regular rate and rhythm.  Normal S1 and S2.
No murmurs, rubs, or gallops appreciated.  Lungs:  Clear to
auscultation bilaterally, breathing on room air, saturating
93-98 percent.  Abdominal exam:  Obese, soft, nontender, and
nondistended.  No hepatosplenomegaly.  Extremities:  Trace
pretibial edema.  No clubbing, no cyanosis.  Neurologic:
Upper extremity and lower extremity strength intact.
Sensation and vibratory sense intact.  Cranial nerves II
through XII intact.  Mild asterixis and clonus noted.  Awake
and oriented x3 though lethargic, and denying any pain.  GU:
Foley catheter in place draining small amount of clear yellow
urine.  Skin:  Intact with acne on back.

LABORATORY DATA:  On admission, CBC, white blood cell count
5.3, hemoglobin 12.9, hematocrit 37.3, MCV 86, platelets 83
and verified by smear.  Differential on white blood cell
count, 79 percent neutrophils, 17 percent lymphocytes, 3
percent monos, 0.8 percent eosinophils, 0.2 percent
basophils.  PTT 44.1, PT 25.0, INR 4.1.  On admission, D-
dimer 370.  Chem-10, sodium 140, potassium 3.8, chloride 105,
bicarbonate 14, BUN 266, creatinine 12.4, glucose 184,
calcium 7.8, magnesium 2.6, phosphorus 11.4.  CK 178 with C-
troponin of 0.02 and a CK-MB of 4.  LFTs, ALT 19, AST 15, LDH
177, alkaline phosphatase 78.  Total bilirubin of 0.7.
Urinalysis, straw, clear, specific gravity of 1.013 notable
for large blood, negative nitrites, protein, glucose,
ketones, bilirubin, urobilinogen, and leukocytes, pH of 6.5.
Red blood cells [**3-30**], white blood cells 0-2, few bacteria, no
yeast, 0-2 epithelial cells from a catheter.  No urine
eosinophils were present.  Urine electrolytes were urine
sodium 32, urine creatinine 158 with urine osm of 395 and
urine urea of 803.  This calculates to a FeNa of 1.79
percent.  EKG was in sinus rhythm with peak T waves
consistent with hyperkalemia and no other findings.  Renal
ultrasound revealed a right kidney 12.4 cm, left 12.2 cm with
no stones, no masses, and no hydronephrosis.  Blood cultures
were sent at this time.

HOSPITAL COURSE:
Renal Failure. After transfer from [**Hospital3 20445**], the patient received Kayexalate for hyperkalemia
and had 3 small stools.  K level was checked and had come
down to 4.5.  He also received Renagel and a bicarbonate drip
for his acidosis.  His pH was 7.26.  In the ED, his fluids
were changed to D5W for concern of volume overload given his
depressed EF and congestive heart failure.  He was
transferred to the MICU were he was found to be alert and
oriented x3 with severe shaking chills but no fever.  He was
placed on a tele monitor with vital signs in normal limits.
The patient received D5W with 3 ampules of bicarbonate at 200
an hour.  Shortly after his arrival, he also received 4 g of
calcium gluconate IV.  Foley catheter was draining a small
amount of clear yellow urine, and the patient was taking sips
of water.  Foley was discontinued on [**2159-7-7**], and the
patient was able to void in a urinal.  Fluids were decreased
to D5W with 2 ampules of bicarbonate at 100 cc an hour.

The patient's renal failure continued to improve dramatically
with a creatinine on the afternoon of [**2159-7-7**] of 6.6 and a
creatinine of 3.4 on [**2159-7-8**].  On [**2159-7-8**], the patient was
transferred to the floor and his renal failure still
continued to improve.  His BUN and creatinine on discharge on
[**2159-7-11**] were creatinine of 1.2 and BUN of 22.  The rapidity
of his improvement suggests a non-intrinsic renal process.
The etiology is likely a combination of his medication and
dehydration.  He had been on an ACE inhibitor, lisinopril,
until [**6-26**] and then had been switched to an angiotensin
receptor blocker, valsartan, and likely his vasoconstriction
of afferent glomerular arteries caused a decreased blood
volume to the kidney.  In addition, he was likely dehydrated
from his vomiting and diarrhea though clinically he did not
appear dry.  Obstruction was ruled out by his negative
ultrasound and an intrinsic renal process would not have
resolved so quickly.  His baseline creatinine from records
from the [**Hospital6 1129**], which were obtained,
is around 1.2-1.3.  Over his course, he was encouraged to
increase his free water intake as he was experiencing a
uremic diuresis and his sodium was increasing to a maximum of
149.  His effective loss was free water as his urine osm was
mostly BUN.

Cardiomyopathy. His viral cardiomyopathy is seemingly improving
with an echocardiogram done on [**2159-7-9**], which found mild left
ventricular cavity enlargement with mild-to-moderate global
hypokinesis consistent with a diffuse process.  His ejection
fraction was estimated at 35-40 percent, which is an
improvement from his 16-20 percent estimate at the
[**Hospital3 **] over 1 month ago.  Clinically, he
showed no signs of CHF during his hospital course except for
some trace pretibial edema, which he reports is stable.  We
continued his Coreg, Imdur, and Lipitor, but held his Lasix,
spironolactone, and angiotensin receptor blocker.

Borderline hypertension.  Towards the end of his hospital
stay, he was started on hydralazine 10 mg q.i.d. to control
his blood pressure, which had raised to 154/80 without his
angiotensin receptor blocker.  He responded well to this dose
and will be titrated as an outpatient.

Thrombocytopenia.  His platelet count continued to stay in
the mid 60s to 70s with a discharge platelet count of 63.
His prior platelet count from the [**Hospital6 1130**] records was in the 140s.  His picture was not
concerning for a hemolytic pattern.  His haptoglobin was 157
and D-dimer 370, and he did not show clinical signs of
hemolysis, TTP, or HUS.  His coagulation studies were also
trending down, as he discontinued his Coumadin.  We were,
however, concerned for heparin-induced thrombocytopenia
possibly related to his Fragmin dose, the last of which he
received on [**2159-6-21**].  This would fall within the 3-week
window of HIT type 2 autoimmune reaction.  We sent a heparin-
induced antibody laboratory test, which was found to be
negative.  He will recheck his platelets as an outpatient
next week and will follow up with Dr. [**First Name4 (NamePattern1) 333**] [**Last Name (NamePattern1) **].  An
abdominal ultrasound was also obtained to check for
splenomegaly to determine if his low platelet count was from
sequestration in the spleen.  The liver was normal in
echotexture without focal hepatic masses.  There was no
intrahepatic or extrahepatic biliary dilatation.  The
pancreas was not well visioned.  The portal vein was patent.
The gallbladder was normal with no stones or edema.  The
spleen was mildly enlarged measuring 13.3 cm with a general
cut off of 13 cm; however, this is an obese rather large
individual and this mild splenomegaly was not thought to be
clinically significant.

His bicarbonate re-normalized over the course of his stay as
did his potassium; and we repleted his magnesium, calcium,
and phosphorus as needed.  He was on prophylaxis treatments
of Protonix, Tylenol p.r.n., and Ambien p.r.n. for sleep.  He
was up and out of bed everyday and did not require DVT
prophylaxis.  He received no heparinoid products on the floor
and no heparin flushes as the concern for HIT was unanswered
for most of his hospital course.

DISCHARGE CONDITION:  Good.

DISCHARGE DIAGNOSES:  Acute renal failure, which has resolved
and low platelet count in the mid 60s but stable.


DISCHARGE MEDICATIONS:
1. Lasix 20 mg p.o. q.d. with instructions to please weigh
   himself everyday.  If he weighs above 295 pounds, he is to
   take 40 mg 2 tablets of Lasix and call Dr. [**Last Name (STitle) **].  If he
   weighs less than 290 pounds, he is to hold his Lasix and
   also call Dr. [**Last Name (STitle) **].
2. Pantoprazole sodium 40 mg tablet Delayed Release 1 tablet
   q.d.
3. Atorvastatin 20 mg p.o. q.d.
4. Carvedilol (Coreg) 6.25 mg p.o. b.i.d.
5. Isosorbide mononitrate 30 mg tablet Sustained Release
   (Imdur) p.o. q.d.
6. Hydralazine 10 mg p.o. q.6 h.


FOLLOWUP PLANS:  The patient was instructed to return to the
hospital if shortness of breath, chest pain, nausea,
vomiting, high fevers, confusion, mental status changes,
bleeding, leg swelling, or any other concerning symptoms
arise.  He was instructed to not use Motrin, aspirin, or any
other nonsteroidal anti-inflammatory medication.  He may use
Tylenol p.r.n.  He was instructed to weigh himself everyday
and follow instructions on his Lasix bottle for how to change
his dosage appropriate to his weight.  His recommended
followup will be with Dr. [**First Name4 (NamePattern1) 333**] [**Last Name (NamePattern1) **] in [**Company 191**] on [**2159-7-23**]
at 2:30.

Cardiology appointment with Dr. [**First Name8 (NamePattern2) **] [**Last Name (NamePattern1) **] in the [**Hospital Ward Name 23**]
Center for cardiac services on [**2159-8-6**] at 9:00 a.m.



                        [**First Name4 (NamePattern1) **] [**Last Name (NamePattern1) 56522**] RES, M.D. [**MD Number(2) 56523**]

Dictated By:[**Doctor Last Name 56524**]
MEDQUIST36
D:  [**2159-7-12**] 09:53:12
T:  [**2159-7-12**] 13:28:48
Job#:  [**Job Number 56525**]

In [79]:
print(df_new_small[df_new_small.HADM_ID==153714.0].TEXT[0])

Admission Date: [**2159-7-6**]        Discharge Date: [**2159-7-11**]

Date of Birth:  [**2108-5-25**]        Sex:  M

Service:  MED


The patient was a transfer from [**Hospital3 1196**] on
[**2159-7-6**].

HISTORY OF PRESENT ILLNESS:  This is a 51-year-old gentleman
who was diagnosed 2 months ago with cardiomyopathy following a
viral illness with inferior apical akinesis and an ejection
fraction estimated at 15-20 percent at [**Hospital1 2025**].  He was sent home
with stable cardiac and renal function on a new heart failure
regiment.

Two weeks prior to this admission, he began to feel unwell with
nasal congestion and fatigue.  Five days prior to admission, he
began to experience nausea, vomiting, and diarrhea without any
evidence of blood and he had a difficult time keeping any fluids
down.  He was able to keep his medications down at that time. Two
days prior to admission, he noted "feeling cloudy" and thought he
was more confused than before.  His son brought him to the
Emergency Room at [**Location (un) 745**]- [**University/College **] on the day of admission. He
had previously been started on a new regimen of medications for
his newly diagnosed viral cardiomyopathy and CHF including Coreg,
Coumadin, lasix and lisinopril, which was changed on [**2159-6-26**] to
valsartan.  When he presented to [**Hospital3 1196**], he
was found to have a BUN reported as 700 and a creatinine of 17.6.
His potassium at that time was 7.6.  He was thought to be in
acute renal failure and was given 1.5 liters of normal saline
with bicarbonate, as well as insulin, glucose, and Kayexalate for
the hyperkalemia.  He was then transferred to [**Hospital1 **] Hospital.  He reported no chest pain, no palpitations,
no abdominal pain, no melena, no numbness or tingling in his
feet, and no shortness of breath, as well as no lower extremity
edema.

PAST MEDICAL HISTORY:  Notable for a viral cardiomyopathy
diagnosed on [**2159-6-3**] with an ejection fraction of 15-20
percent.
Hyperlipidemia, controlled with Lipitor.
Borderline hypertension.
Obesity.

PAST SURGICAL HISTORY:  Notable for appendectomy at the age
of 8 and elective vasectomy.

ALLERGIES:  He has no known drug allergies.

MEDICATIONS:  At home he takes,
1. Nexium.
2. Lasix 40 mg q.d.
3. Lipitor 20 mg q.d.
4. Fragmin 10,000 units b.i.d. up until the 27th, as he was
   then transitioned to Coumadin, which he currently takes.
5. Coreg 6.25 mg b.i.d.
6. Aldactone 25 mg q.d.
7. Lisinopril 30 mg q.d. up until [**2159-6-26**] when due to cough
   he was changed to valsartan.
8. Imdur 30 mg q.d.


SOCIAL HISTORY:  He quit smoking in [**2139**] and has an
approximate 10-pack-year history.  He occasionally used to
drink alcohol though he quit 2 months ago after his diagnosis
of viral cardiomyopathy.  He has never used any IV drugs.  He
is married and lives in [**Location 13040**] with his wife and his 2
children.  He also cares for 2 children who are biologically
his wife's.  He is an insurance consultant and generally
engages in travel every week though he has been on leave for
3 months now.  His work schedule is quite demanding and
stressful.

FAMILY HISTORY:  Unavailable, as he is adopted.

PHYSICAL EXAMINATION:  On arrival to the ED, he was afebrile,
his blood pressure was 132/62, heart rate 73, breathing at a
rate of 12 respirations per minute, saturating 97 percent on
room air.  Generally, he is an obese, 51-year-old gentleman,
in no apparent distress who appears lethargic, but awake and
oriented x3.  HEENT exam:  His oropharynx was clear.  Mucous
membranes were moist.  No conjunctivae, exudates, or scleral
icterus.  Neck:  No lymphadenopathy.  No jugular venous
distention.  No carotid bruits.  Normal thyroid.
Cardiovascular:  Regular rate and rhythm.  Normal S1 and S2.
No murmurs, rubs, or gallops appreciated.  Lungs:  Clear to
auscultation bilaterally, breathing on room air, saturating
93-98 percent.  Abdominal exam:  Obese, soft, nontender, and
nondistended.  No hepatosplenomegaly.  Extremities:  Trace
pretibial edema.  No clubbing, no cyanosis.  Neurologic:
Upper extremity and lower extremity strength intact.
Sensation and vibratory sense intact.  Cranial nerves II
through XII intact.  Mild asterixis and clonus noted.  Awake
and oriented x3 though lethargic, and denying any pain.  GU:
Foley catheter in place draining small amount of clear yellow
urine.  Skin:  Intact with acne on back.

LABORATORY DATA:  On admission, CBC, white blood cell count
5.3, hemoglobin 12.9, hematocrit 37.3, MCV 86, platelets 83
and verified by smear.  Differential on white blood cell
count, 79 percent neutrophils, 17 percent lymphocytes, 3
percent monos, 0.8 percent eosinophils, 0.2 percent
basophils.  PTT 44.1, PT 25.0, INR 4.1.  On admission, D-
dimer 370.  Chem-10, sodium 140, potassium 3.8, chloride 105,
bicarbonate 14, BUN 266, creatinine 12.4, glucose 184,
calcium 7.8, magnesium 2.6, phosphorus 11.4.  CK 178 with C-
troponin of 0.02 and a CK-MB of 4.  LFTs, ALT 19, AST 15, LDH
177, alkaline phosphatase 78.  Total bilirubin of 0.7.
Urinalysis, straw, clear, specific gravity of 1.013 notable
for large blood, negative nitrites, protein, glucose,
ketones, bilirubin, urobilinogen, and leukocytes, pH of 6.5.
Red blood cells [**3-30**], white blood cells 0-2, few bacteria, no
yeast, 0-2 epithelial cells from a catheter.  No urine
eosinophils were present.  Urine electrolytes were urine
sodium 32, urine creatinine 158 with urine osm of 395 and
urine urea of 803.  This calculates to a FeNa of 1.79
percent.  EKG was in sinus rhythm with peak T waves
consistent with hyperkalemia and no other findings.  Renal
ultrasound revealed a right kidney 12.4 cm, left 12.2 cm with
no stones, no masses, and no hydronephrosis.  Blood cultures
were sent at this time.

HOSPITAL COURSE:
Renal Failure. After transfer from [**Hospital3 20445**], the patient received Kayexalate for hyperkalemia
and had 3 small stools.  K level was checked and had come
down to 4.5.  He also received Renagel and a bicarbonate drip
for his acidosis.  His pH was 7.26.  In the ED, his fluids
were changed to D5W for concern of volume overload given his
depressed EF and congestive heart failure.  He was
transferred to the MICU were he was found to be alert and
oriented x3 with severe shaking chills but no fever.  He was
placed on a tele monitor with vital signs in normal limits.
The patient received D5W with 3 ampules of bicarbonate at 200
an hour.  Shortly after his arrival, he also received 4 g of
calcium gluconate IV.  Foley catheter was draining a small
amount of clear yellow urine, and the patient was taking sips
of water.  Foley was discontinued on [**2159-7-7**], and the
patient was able to void in a urinal.  Fluids were decreased
to D5W with 2 ampules of bicarbonate at 100 cc an hour.

The patient's renal failure continued to improve dramatically
with a creatinine on the afternoon of [**2159-7-7**] of 6.6 and a
creatinine of 3.4 on [**2159-7-8**].  On [**2159-7-8**], the patient was
transferred to the floor and his renal failure still
continued to improve.  His BUN and creatinine on discharge on
[**2159-7-11**] were creatinine of 1.2 and BUN of 22.  The rapidity
of his improvement suggests a non-intrinsic renal process.
The etiology is likely a combination of his medication and
dehydration.  He had been on an ACE inhibitor, lisinopril,
until [**6-26**] and then had been switched to an angiotensin
receptor blocker, valsartan, and likely his vasoconstriction
of afferent glomerular arteries caused a decreased blood
volume to the kidney.  In addition, he was likely dehydrated
from his vomiting and diarrhea though clinically he did not
appear dry.  Obstruction was ruled out by his negative
ultrasound and an intrinsic renal process would not have
resolved so quickly.  His baseline creatinine from records
from the [**Hospital6 1129**], which were obtained,
is around 1.2-1.3.  Over his course, he was encouraged to
increase his free water intake as he was experiencing a
uremic diuresis and his sodium was increasing to a maximum of
149.  His effective loss was free water as his urine osm was
mostly BUN.

Cardiomyopathy. His viral cardiomyopathy is seemingly improving
with an echocardiogram done on [**2159-7-9**], which found mild left
ventricular cavity enlargement with mild-to-moderate global
hypokinesis consistent with a diffuse process.  His ejection
fraction was estimated at 35-40 percent, which is an
improvement from his 16-20 percent estimate at the
[**Hospital3 **] over 1 month ago.  Clinically, he
showed no signs of CHF during his hospital course except for
some trace pretibial edema, which he reports is stable.  We
continued his Coreg, Imdur, and Lipitor, but held his Lasix,
spironolactone, and angiotensin receptor blocker.

Borderline hypertension.  Towards the end of his hospital
stay, he was started on hydralazine 10 mg q.i.d. to control
his blood pressure, which had raised to 154/80 without his
angiotensin receptor blocker.  He responded well to this dose
and will be titrated as an outpatient.

Thrombocytopenia.  His platelet count continued to stay in
the mid 60s to 70s with a discharge platelet count of 63.
His prior platelet count from the [**Hospital6 1130**] records was in the 140s.  His picture was not
concerning for a hemolytic pattern.  His haptoglobin was 157
and D-dimer 370, and he did not show clinical signs of
hemolysis, TTP, or HUS.  His coagulation studies were also
trending down, as he discontinued his Coumadin.  We were,
however, concerned for heparin-induced thrombocytopenia
possibly related to his Fragmin dose, the last of which he
received on [**2159-6-21**].  This would fall within the 3-week
window of HIT type 2 autoimmune reaction.  We sent a heparin-
induced antibody laboratory test, which was found to be
negative.  He will recheck his platelets as an outpatient
next week and will follow up with Dr. [**First Name4 (NamePattern1) 333**] [**Last Name (NamePattern1) **].  An
abdominal ultrasound was also obtained to check for
splenomegaly to determine if his low platelet count was from
sequestration in the spleen.  The liver was normal in
echotexture without focal hepatic masses.  There was no
intrahepatic or extrahepatic biliary dilatation.  The
pancreas was not well visioned.  The portal vein was patent.
The gallbladder was normal with no stones or edema.  The
spleen was mildly enlarged measuring 13.3 cm with a general
cut off of 13 cm; however, this is an obese rather large
individual and this mild splenomegaly was not thought to be
clinically significant.

His bicarbonate re-normalized over the course of his stay as
did his potassium; and we repleted his magnesium, calcium,
and phosphorus as needed.  He was on prophylaxis treatments
of Protonix, Tylenol p.r.n., and Ambien p.r.n. for sleep.  He
was up and out of bed everyday and did not require DVT
prophylaxis.  He received no heparinoid products on the floor
and no heparin flushes as the concern for HIT was unanswered
for most of his hospital course.

DISCHARGE CONDITION:  Good.

DISCHARGE DIAGNOSES:  Acute renal failure, which has resolved
and low platelet count in the mid 60s but stable.


DISCHARGE MEDICATIONS:
1. Lasix 20 mg p.o. q.d. with instructions to please weigh
   himself everyday.  If he weighs above 295 pounds, he is to
   take 40 mg 2 tablets of Lasix and call Dr. [**Last Name (STitle) **].  If he
   weighs less than 290 pounds, he is to hold his Lasix and
   also call Dr. [**Last Name (STitle) **].
2. Pantoprazole sodium 40 mg tablet Delayed Release 1 tablet
   q.d.
3. Atorvastatin 20 mg p.o. q.d.
4. Carvedilol (Coreg) 6.25 mg p.o. b.i.d.
5. Isosorbide mononitrate 30 mg tablet Sustained Release
   (Imdur) p.o. q.d.
6. Hydralazine 10 mg p.o. q.6 h.


FOLLOWUP PLANS:  The patient was instructed to return to the
hospital if shortness of breath, chest pain, nausea,
vomiting, high fevers, confusion, mental status changes,
bleeding, leg swelling, or any other concerning symptoms
arise.  He was instructed to not use Motrin, aspirin, or any
other nonsteroidal anti-inflammatory medication.  He may use
Tylenol p.r.n.  He was instructed to weigh himself everyday
and follow instructions on his Lasix bottle for how to change
his dosage appropriate to his weight.  His recommended
followup will be with Dr. [**First Name4 (NamePattern1) 333**] [**Last Name (NamePattern1) **] in [**Company 191**] on [**2159-7-23**]
at 2:30.

Cardiology appointment with Dr. [**First Name8 (NamePattern2) **] [**Last Name (NamePattern1) **] in the [**Hospital Ward Name 23**]
Center for cardiac services on [**2159-8-6**] at 9:00 a.m.



                        [**First Name4 (NamePattern1) **] [**Last Name (NamePattern1) 56522**] RES, M.D. [**MD Number(2) 56523**]

Dictated By:[**Doctor Last Name 56524**]
MEDQUIST36
D:  [**2159-7-12**] 09:53:12
T:  [**2159-7-12**] 13:28:48
Job#:  [**Job Number 56525**]

PATIENT/TEST INFORMATION:
Indication: Congestive heart failure. Left ventricular function.
Height: (in) 74
Weight (lb): 280
BSA (m2): 2.51 m2
BP (mm Hg): 136/80
HR (bpm): 81
Status: Inpatient
Date/Time: [**2159-7-9**] at 11:54
Test: TTE (Complete)
Doppler: Complete pulse and color flow
Contrast: None
Technical Quality: Suboptimal


INTERPRETATION:

Findings:

LEFT ATRIUM: The left atrium is mildly dilated.

RIGHT ATRIUM/INTERATRIAL SEPTUM: The right atrium is mildly dilated.

LEFT VENTRICLE: Left ventricular wall thicknesses are normal. The left
ventricular cavity is mildly dilated. Due to suboptimal technical quality, a
focal wall motion abnormality cannot be fully excluded. There is moderate
global left ventricular hypokinesis.

RIGHT VENTRICLE: Right ventricular chamber size and free wall motion are
normal.

AORTA: The aortic root is normal in diameter. The ascending aorta is normal in
diameter. The aortic arch is normal in diameter. No 2D echo or Doppler
evidence of coarctation of the distal aortic arch.

AORTIC VALVE: The aortic valve leaflets (3) appear structurally normal with
good leaflet excursion and no aortic regurgitation.

MITRAL VALVE: The mitral valve appears structurally normal with trivial mitral
regurgitation. There is no mitral valve prolapse.

PULMONIC VALVE/PULMONARY ARTERY: The pulmonic valve leaflets appear
structurally normal with physiologic pulmonic regurgitation.

PERICARDIUM: There is an anterior space which most likely represents a fat
pad, though a loculated anterior pericardial effusion cannot be excluded.

GENERAL COMMENTS: Suboptimal image quality - poor apical views. Suboptimal
image quality - poor subcostal views. Based on [**2152**] AHA endocarditis
prophylaxis recommendations, the echo findings indicate a low risk
(prophylaxis not recommended). Clinical decisions regarding the need for
prophylaxis should be based on clinical and echocardiographic data.

Conclusions:
The left atrium is mildly dilated. Left ventricular wall thicknesses are
normal. The left ventricular cavity is mildly dilated. Due to suboptimal
technical quality, a focal wall motion abnormality cannot be fully excluded.
There is moderate global left ventricular hypokinesis. Right ventricular
chamber size and free wall motion are normal. The aortic valve leaflets (3)
appear structurally normal with good leaflet excursion and no aortic
regurgitation. The mitral valve appears structurally normal with trivial
mitral regurgitation. There is no mitral valve prolapse. There is an anterior
space which most likely represents a fat pad, though a loculated anterior
pericardial effusion cannot be excluded.

IMPRESSION: Mild left ventricular cavity enlargement with mild-moderate global
hypokinesis c/w diffuse process.

Based on [**2152**] AHA endocarditis prophylaxis recommendations, the echo findings
indicate a low risk (prophylaxis not recommended). Clinical decisions
regarding the need for prophylaxis should be based on clinical and
echocardiographic data.



Sinus rhythm. Consider inferior myocardial infarction. No previous tracing
available for comparison.
TRACING #1


Sinus rhythm. Since the previous tracing of [**2159-7-6**] no significant change.
TRACING #2


[**2159-7-6**] 7:13 PM
 CHEST (PA & LAT)                                                Clip # [**Clip Number (Radiology) 20561**]
 Reason: 51 y/o hx of CHF now with ARF
 ______________________________________________________________________________
 [**Hospital 2**] MEDICAL CONDITION:
  51 year old man with
 REASON FOR THIS EXAMINATION:
  51 y/o hx of CHF now with ARF
 ______________________________________________________________________________
                                 FINAL REPORT
 INDICATION:  A 1-year-old with acute renal failure, assess for congestive
 heart failure.

 PA AND LATERAL RADIOGRAPHS, FOUR FILMS

 The cardiac and mediastinal contours are normal.  The lungs are clear with no
 effusion, consolidation, or pneumothorax.  Pulmonary vasculature is normal.
 The osseous structures are unremarkable.

 IMPRESSION:  No radiographic evidence of acute cardiopulmonary process.



[**2159-7-6**] 6:29 PM
 RENAL U.S.                                                      Clip # [**Clip Number (Radiology) 20529**]
 Reason: 51 y/o male with acute renal failure Cr 17 up from 1.3
 ______________________________________________________________________________
 [**Hospital 2**] MEDICAL CONDITION:
  51 year old man with as above
 REASON FOR THIS EXAMINATION:
  51 y/o male with acute renal failure Cr 17 up from 1.3
 ______________________________________________________________________________
 WET READ: MRSg FRI [**2159-7-6**] 7:43 PM
  Normal renal ultrasound
 ______________________________________________________________________________
                                 FINAL REPORT
 INDICATION:  Acute renal failure.

 COMPARISONS:  None.

 TECHNIQUE:  Renal ultrasound.

 RENAL ULTRASOUND:  The right kidney measures 12.4 cm.  The left kidney
 measures 12.2 cm.  No stones, masses, or hydronephrosis are identified within
 either kidney.  A Foley catheter is in place within the bladder.  No stones or
 masses are seen within the decompressed bladder.

 IMPRESSION:  Normal renal ultrasound, no evidence of hydronephrosis or masses.


[**2159-7-10**] 4:05 PM
 ABDOMEN U.S. (COMPLETE STUDY)                                   Clip # [**Clip Number (Radiology) 20372**]
 Reason: ABNORMAL PLATELETS, PLEASE EVALUATE FOR SPLENOMEGALY
 Admitting Diagnosis: ACUTE RENAL FAILURE
 ______________________________________________________________________________
 [**Hospital 2**] MEDICAL CONDITION:
  51 year old man with low platelets.
 REASON FOR THIS EXAMINATION:
  Please evaluate for splenomegly.
 ______________________________________________________________________________
                                 FINAL REPORT
 HISTORY:  Low platelet count.

 ABDOMEN ULTRASOUND:  The liver is normal in echo texture, without focal
 hepatic masses.  There is no intra or extrahepatic biliary ductal dilatation.
 The pancreas is not well visualized due to overlying bowel gas.  The
 visualized portions of the aorta are of normal caliber.  The portal vein is
 patent.  The gallbladder is normal, without stones or wall edema.  The common
 bile duct is normal, measuring 3 mm.  There is no hydronephrosis within the
 right or left kidney.  The spleen is enlarged, measuring 13.3 cm.  There are
 no identified masses within the spleen.  No free fluid within the abdomen.

 IMPRESSION:  Mild splenomegaly, measuring 13.3 cm.


nsg progress note 7a-7p
Pt A+O X3, lethargic, slept most of the day, not feeling well enough for am care. Denies pain

CV:hemodynamically stable. HR 70-80's, nsr no ectopy. SBP 90-125. [**3-29**]+ pedal pulses. Pt obese and difficult to assess edema however pt was quite dry on admission. Currently receiving his 3rd liter of IVF's. Denies CP or SOB. EKG improved from admission where peaked t waves were noted. Am K+ 3.8 received KCL 20meq since voiding large amounts and will likely waste K+.

RESP: ls clear on RA sats 93-98%.

In [80]:
len(label_merge_text_df.HADM_ID.unique())

32051

In [81]:
len(df_new_small.HADM_ID.unique())

32051

In [82]:
print(abs(len(label_merge_text_df.ROW_ID_x.unique()) - len(df_new_small.ROW_ID_x.unique())))

0

In [83]:
set1 = set(df_new_small.HADM_ID)
set2 = set(label_merge_text_df.HADM_ID)
print(" HADM_IS present in label_merge_text_df not in df_new_small: \n", list(set2-set1))
missing_HADM_ID = list(set2-set1)

 HADM_IS present in label_merge_text_df not in df_new_small:
 []

In [84]:
print(label_merge_text_df.HADM_ID[0])
label_merge_text_df[label_merge_text_df.HADM_ID==153714.0].CATEGORY

153714.0

0    Discharge summary
1                 Echo
2                  ECG
3                  ECG
4            Radiology
5            Radiology
6            Radiology
7        Nursing/other
8        Nursing/other
9        Nursing/other
Name: CATEGORY, dtype: object

In [85]:
print(df_new_small.HADM_ID[0])
print(df_new_small[df_new_small.HADM_ID==153714.0].CATEGORY[0])

153714
['ECG', 'Echo', 'Discharge summary', 'Radiology', 'Nursing/other']

In [86]:
df_new_small.shape

(32051, 12)

In [87]:
df_new_small.to_csv("NOTEEVENTS_SMALL_WITH_AGE.csv", index= False)