In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Concat DataFrames {-}

In [3]:
dia_train_df = pd.read_csv('/Users/JoKerry/clinical-outcome-prediction/ICD_prediction/DIA_GROUPS_3_DIGITS_adm_train.csv')
dia_test_df = pd.read_csv('/Users/JoKerry/clinical-outcome-prediction/ICD_prediction/DIA_GROUPS_3_DIGITS_adm_test.csv')
dia_val_df = pd.read_csv('/Users/JoKerry/clinical-outcome-prediction/ICD_prediction/DIA_GROUPS_3_DIGITS_adm_val.csv')

In [4]:
dia_val_df

,id,text,short_codes
0,122148,CHIEF COMPLAINT: Shortness of Breath\n\nPRESEN...,"491,V462,V158,V586,441,110,272,397,424,416,369..."
1,136823,CHIEF COMPLAINT: cranial defect\n\nPRESENT ILL...,"738,342,V104,V125"
2,157231,CHIEF COMPLAINT: SOB\n\nPRESENT ILLNESS: 107 r...,"786,428,584,276,E944,280,793,225,401,294,780,7..."
3,121847,CHIEF COMPLAINT: Chest pain\n\nPRESENT ILLNESS...,"414,493,411,458,244,714,715,300,338,V158,724"
4,137217,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: The pati...,"486,518,250,996,584,403,287"
...,...,...,...
4913,132588,CHIEF COMPLAINT: Right sided weakness and dysa...,"431,348,486,518,401,359,365,276"
4914,183398,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: The pati...,"516,486,599,427,428,780,453,518,276"
4915,127889,CHIEF COMPLAINT: hip pain\n\nPRESENT ILLNESS: ...,"996,428,998,285,458,414,327,401,250,272,338,04..."
4916,171528,CHIEF COMPLAINT: Chest pain\n\nPRESENT ILLNESS...,"414,281,411,401,272,427,V586,V103,365,715,564,..."
4917,174127,CHIEF COMPLAINT: s/p Motorcycle crash\n\nPRESE...,"808,867,E812,877,492"

In [5]:
print(dia_train_df.info())
print('-------------------')
print(dia_test_df.info())
print('-------------------')
print(dia_val_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33994 entries, 0 to 33993
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           33994 non-null  int64
 1   text         33994 non-null  object
 2   short_codes  33994 non-null  object
dtypes: int64(1), object(2)
memory usage: 796.9+ KB
None
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9829 entries, 0 to 9828
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           9829 non-null   int64
 1   text         9829 non-null   object
 2   short_codes  9829 non-null   object
dtypes: int64(1), object(2)
memory usage: 230.5+ KB
None
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4918 entries, 0 to 4917
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           4918 non-null   int64
 1   text         4918 non-null   object
 2   short_codes  4918 non-null   object
dtypes: int64(1), object(2)
memory usage: 115.4+ KB
None

In [4]:
dia_full_df = pd.concat([dia_train_df, dia_test_df, dia_val_df], axis=0)
dia_full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48741 entries, 0 to 4917
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           48741 non-null  int64
 1   text         48741 non-null  object
 2   short_codes  48741 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.5+ MB

In [6]:
mp_train_df = pd.read_csv('/Users/JoKerry/clinical-outcome-prediction/mortality_prediction/MP_IN_adm_train.csv')
mp_test_df = pd.read_csv('/Users/JoKerry/clinical-outcome-prediction/mortality_prediction/MP_IN_adm_test.csv')
mp_val_df = pd.read_csv('/Users/JoKerry/clinical-outcome-prediction/mortality_prediction/MP_IN_adm_val.csv')

In [8]:
print(mp_train_df.info())
print('-------------------')
print(mp_test_df.info())
print('-------------------')
print(mp_val_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33954 entries, 0 to 33953
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    33954 non-null  int64
 1   text                  33954 non-null  object
 2   hospital_expire_flag  33954 non-null  int64
dtypes: int64(2), object(1)
memory usage: 795.9+ KB
None
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9822 entries, 0 to 9821
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    9822 non-null   int64
 1   text                  9822 non-null   object
 2   hospital_expire_flag  9822 non-null   int64
dtypes: int64(2), object(1)
memory usage: 230.3+ KB
None
-------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4908 entries, 0 to 4907
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4908 non-null   int64
 1   text                  4908 non-null   object
 2   hospital_expire_flag  4908 non-null   int64
dtypes: int64(2), object(1)
memory usage: 115.2+ KB
None

In [7]:
mp_full_df = pd.concat([mp_train_df, mp_test_df, mp_val_df], axis=0)
mp_full_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48684 entries, 0 to 4907
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    48684 non-null  int64
 1   text                  48684 non-null  object
 2   hospital_expire_flag  48684 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.5+ MB

## Data Exploration {-}

In [9]:
dia_full_df

,id,text,short_codes
0,159643,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: This 60 ...,"424,428,276,997,427,414,412,V458"
1,147171,CHIEF COMPLAINT: Substernal Chest Pain\n\nPRES...,"410,428,997,427,414,458"
2,199961,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: The pati...,"720,403,707,805,847,E885,780,285,250"
3,136812,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: This is ...,"491,486,280,276,427,426,438,729,244"
4,175700,CHIEF COMPLAINT: s/p rollover MVC with prolong...,"823,481,861,518,285,813,807,E816,883,799,V641,..."
...,...,...,...
4913,132588,CHIEF COMPLAINT: Right sided weakness and dysa...,"431,348,486,518,401,359,365,276"
4914,183398,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: The pati...,"516,486,599,427,428,780,453,518,276"
4915,127889,CHIEF COMPLAINT: hip pain\n\nPRESENT ILLNESS: ...,"996,428,998,285,458,414,327,401,250,272,338,04..."
4916,171528,CHIEF COMPLAINT: Chest pain\n\nPRESENT ILLNESS...,"414,281,411,401,272,427,V586,V103,365,715,564,..."
4917,174127,CHIEF COMPLAINT: s/p Motorcycle crash\n\nPRESE...,"808,867,E812,877,492"

In [13]:
dia_full_df.index.nunique()

33994

In [10]:
mp_full_df

,id,text,hospital_expire_flag
0,107384,"CHIEF COMPLAINT: AMS, concern for toxic alcoho...",0
1,101061,CHIEF COMPLAINT: abdominal pain\n\nPRESENT ILL...,0
2,127180,CHIEF COMPLAINT: Bilateral Sub Dural Hematoma\...,0
3,168339,CHIEF COMPLAINT: Intracranial bleed\n\nPRESENT...,0
4,154044,CHIEF COMPLAINT: ischemic left foot\n\nPRESENT...,0
...,...,...,...
4903,132684,CHIEF COMPLAINT: Worst headache of his life\n\...,0
4904,183578,CHIEF COMPLAINT: Transfer [**Hospital1 100**] ...,0
4905,127927,CHIEF COMPLAINT: Sudden onset severe headache\...,0
4906,171653,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: Ms. [**K...,0
4907,174262,CHIEF COMPLAINT: Rectosigmoid colon cancer\n\n...,0

In [14]:
mp_full_df.index.nunique()

33954

## Resetting DF Indexes {-}

In [15]:
dia_full_df.reset_index(drop=True)

,id,text,short_codes
0,159643,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: This 60 ...,"424,428,276,997,427,414,412,V458"
1,147171,CHIEF COMPLAINT: Substernal Chest Pain\n\nPRES...,"410,428,997,427,414,458"
2,199961,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: The pati...,"720,403,707,805,847,E885,780,285,250"
3,136812,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: This is ...,"491,486,280,276,427,426,438,729,244"
4,175700,CHIEF COMPLAINT: s/p rollover MVC with prolong...,"823,481,861,518,285,813,807,E816,883,799,V641,..."
...,...,...,...
48736,132588,CHIEF COMPLAINT: Right sided weakness and dysa...,"431,348,486,518,401,359,365,276"
48737,183398,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: The pati...,"516,486,599,427,428,780,453,518,276"
48738,127889,CHIEF COMPLAINT: hip pain\n\nPRESENT ILLNESS: ...,"996,428,998,285,458,414,327,401,250,272,338,04..."
48739,171528,CHIEF COMPLAINT: Chest pain\n\nPRESENT ILLNESS...,"414,281,411,401,272,427,V586,V103,365,715,564,..."
48740,174127,CHIEF COMPLAINT: s/p Motorcycle crash\n\nPRESE...,"808,867,E812,877,492"

In [16]:
mp_full_df.reset_index(drop=True)

,id,text,hospital_expire_flag
0,107384,"CHIEF COMPLAINT: AMS, concern for toxic alcoho...",0
1,101061,CHIEF COMPLAINT: abdominal pain\n\nPRESENT ILL...,0
2,127180,CHIEF COMPLAINT: Bilateral Sub Dural Hematoma\...,0
3,168339,CHIEF COMPLAINT: Intracranial bleed\n\nPRESENT...,0
4,154044,CHIEF COMPLAINT: ischemic left foot\n\nPRESENT...,0
...,...,...,...
48679,132684,CHIEF COMPLAINT: Worst headache of his life\n\...,0
48680,183578,CHIEF COMPLAINT: Transfer [**Hospital1 100**] ...,0
48681,127927,CHIEF COMPLAINT: Sudden onset severe headache\...,0
48682,171653,CHIEF COMPLAINT: \n\nPRESENT ILLNESS: Ms. [**K...,0
48683,174262,CHIEF COMPLAINT: Rectosigmoid colon cancer\n\n...,0

## DF to CSV {-}

In [17]:
dia_full_df.to_csv('dia_full_df.csv', index=False)

In [18]:
mp_full_df.to_csv('mp_full_df.csv', index=False)